main{
    background-repeat: no-repeat;
    background-size: 100%;
}

.title_info{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.title_info h1{
    font-size: 2em;
}

.contacts li a span{
    padding-left: 0px;
    font-size: 1.2em;
}

.contacts li{
    padding-top: 5px;
    margin-right: 20px;
}

.icon{
    width: 15px;
}

.description{
    font-size: 1.2em;
    text-align: justify;
}

.head{
    display: flex;
    align-items: center;
}

.contacts li a.twitter:hover {
    color: #00ACEE;
}

.contacts li a.instagram:hover {
    color: #cc2366;
}

.contacts li a.mail:hover {
    color: #D44638;
}

.avatar {
    position: relative;
    max-width: 15rem;
    display: block;
    flex: 1 0 auto;
}

li.details div ul{
    padding-left: 10px;
}

li.details div ul li{
    padding: 5px;
}

li.details div ul li b{
    color: midnightblue;
}

div.six.wide.column :first-child{
    padding-top: 0;
}

ul > li:before{
    display: none;
}

.timeline .details{
    margin-left: 30px;
}

#main{
    position: static;
}

#wall{
    width: 100vw;
    position: fixed;
    z-index: 9999;
    display: flex;
    bottom: 0;
    flex-wrap: wrap-reverse;
    align-content: flex-end;
    justify-content: flex-end;
}

.brick{
    width: 5vh;
}


@media only screen and (max-width: 767px) {
    .grid{
        padding: 20px;
    }

    .title_info{
        text-align: left;
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .avatar {
        max-width: 10rem;
    }

    label.summary > li{
        padding: 5px;
    }

    .head{
        padding-top: 20px;
    }

    .contacts li a .icon{
        width: 5vw;
        height: 5vw;
    }

    .contacts li a span{
        display: none;
    }

    .contacts li{
        margin: 0;
    }

    .contacts{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    li.details div ul{
        padding-left: 0;
    }
    /*.contacts li a.facebook{
        color: #3b5998;
    }

    .contacts li a.twitter{
        color: #00ACEE;
    }
    
    .contacts li a.instagram{
        color: #cc2366;
    }
    
    .contacts li a.mail{
        color: #D44638;
    }*/

}
   
